@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Welcome!</h1>
    <p>Hi! I'm Chris - a Software Engineer student at the University of Agder. <br/>
        This website will be used as a presentation of myself, and also double as an assignment submission for my course.</p>
    
    
    <p>Please visit my <a href="https://github.com/chsanden" class="href-dark" target="_blank">GitHub</a> to see my other projects.</p>
</div>