@{
    ViewBag.Title = "About me";
    Layout = "_Layout";
}

<form id="search-form" method="post" action="">
    <label for="q" class="visually-hidden">Search</label>
    <div class="input-group">
        <input id="q" name="q" type="text" class="form-control search-input" placeholder="Search..."
               autocomplete="off"/>
        <button type="submit" class="btn btn-primary button-dark">Search</button>
    </div>
</form>
<h2 class="display-2">About me</h2>
<br/>
    <div class="container my-4">
        <div class="row g-3">
            <div class="col-12 col-md-6">
                <div class="p-3 border rounded-3">
                    <h3>Motivation</h3>
                    <br/>
                    <p>I've always been fascinated by technology - even as a child. I always wanted to figure out how things were built.
                        Hence why I drove my mother insane by dismantling everything I could get my hands on. Nothing was safe.<br/>
                    </p>
                    <ul>
                        <li>Toys</li>
                        <li>Remotes</li>
                        <li>Cell phones (early 2000's phones that had a removable rear cover e.g. Nokia 3310)</li>
                        <li>RC cars</li>
                        <li>Broken laptops</li>
                    </ul>
                    <p>
                    No device was safe. <br/><br/>
                    Growing up, my inquisitive inclination towards technology never faded.
                    All through school I was always infatuated by new tech. Be it new phones, consoles,
                    handhelds, tablets, computers, etc - there was always something new to study.
                    </p> 
                    <br/>

                    <p>
                    When it came time to apply for university the choice was a simple, yet difficult one. I knew that I wanted
                    to something within technology and ICT.
                    But there was a few options.
                    </p>
                    <ol>
                        <li>Cybersecurity, at University of Winchester</li>
                        <li>Computer Engineering, at University of Agder</li>
                    </ol>
                    <p>
                        I was convinced to apply to the University of Winchester after attending an education fare.
                        I was promised an education of the highest quality, certification in various different networking standards,
                        job opportunities and much more. I received <strong><em>nothing</em></strong> of what was promised.<br/>

                        The education was lackluster at best, with lecturers that didn't even know how to write proper code. To give some perspective;
                        I am a 2nd year software engineer student, and <em><strong>my</strong></em> code is miles better than anything I ever saw
                        at that course.
                    </p>
                </div>
            </div>
        
            <div class="col-12 col-md-6">
                <div class="p-3 border rounded-3">
                    <h3>
                        Life after Winchester
                    </h3>
                    <p>
                        My time in Winchester ended in a less then ideal manner. In addition to the poor education, the timing
                        of the global COVID-19 pandemic could not have been worse.<br/>
                        After starting to figure out how to work around the education issues, the world went into lockdown.
                        Everything closed overnight. My university included. Although the concept of video streaming was far from foreign,
                        it took a laughable amount of time for the university to properly adopt the solution.<br/>
                        <br/>By the time most of the issues had been ironed out about 80% of my class had fallen out of the system in some way or other.
                        Unfortunately I was part of that percentage. After things started to open back up again I was able to move back to Norway,
                        but some struggles persisted. It took me a couple years to finally get everything back in order, and by that time I had decided to give education another shot -
                        this time with the University of Agder.
                    </p>
                    <p>
                        After some research, I found out that I needed a foundational year with some maths and physics to be able to apply to the Computer Engineering program at UiA.
                        This alone gave an impression that this education would be taken much more seriously. After completing the foundational year and starting the actual degree,
                        my initial impressions were confirmed. The structure of the program, the quality of the lecturers, the support for us students and, as a result, the motivation
                        for learning more were leagues apart from my first experience with a university level education.<br/>
                        The first year felt like it flew by. I was learning how to code, and getting the proper guidance in terms of what to focus on. The modules touched on operating systems
                        and how they, well, <em>operate</em>, databases, communication protocols, microcontrollers and more. Everything was interesting.
                        Obviously some modules were more interesting than others, but there was nothing I felt was boring or unnecessary.
                    </p>
                </div>
            </div>
        </div>
    </div>
<br/>

<h2 class="display-5">Outcome</h2>
<div class="container my-4">
    <div class="row g-3">
        <div class="col-12 col-md-6">
            <figure>
                <img src="https://miro.medium.com/v2/resize:fit:720/format:webp/0*7VyEZgzwUhQMeBqb"/>
                <figcaption>Taken from <a href="https://medium.com/beehive-software/what-is-coding-ffc6241ed49f" class="href-dark">medium</a></figcaption>
            </figure>
        </div>
        <div class="col-12 col-md-6">
            <div class="p-3 border rounded-3">
                <p>
                    My expected outcome from this degree is multi-faceted. Below you will find some of my expectations along with 
                    explanations.
                </p>
                <figure>
                    <table>
                        <tr>
                            <th>
                                Expectation
                            </th>
                            <th>
                                Explanation
                            </th>
                        </tr>
                        <tr>
                            <td>
                                Advanced level of programming skills
                            </td>
                            <td>
                                Given the nature of the degree and the requirements for jobs in this sector, I feel this is a given
                                expectation from any serious education withing software
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Solid understanding of key computing aspects
                            </td>
                            <td>
                                Aspects such as databases, networking, communication protocols and widely used development methods 
                                are critical in the field of software development - making a solid understanding of these crucial for 
                                succeeding professionally in this industry
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Ability to conduct quality assurance
                            </td>
                            <td>
                                Delivering a quality product is one of, if not the most important requirement withing 
                                software development. If you consistently deliver <em>undercooked</em> end products, that will tarnish 
                                a reputation - either your organisations and / or your own
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Good design and programming practises
                            </td>
                            <td>
                                The importance of using good programming practises and designs are hard to understate. These skills make 
                                it easier for other developers to pick up where you left it. Some systems are intended to be in use for 
                                <strong>decades</strong>. It is not a given that the original developer(s) will be available to conduct 
                                maintenance and / or upgrades.
                            </td>
                        </tr>
                    </table>
                </figure>
            </div>
        </div>
    </div>
</div>



       
