@page
@model MealPlanner.Areas.Identity.Pages.Account.Manage.PasswordConfirmationModel
@{
    ViewData["Title"] = "Password Confirmation";
}

<h3>@ViewData["Title"]</h3>

<p>Please enter your password to confirm profile changes.</p>

<form method="post">
    <input type="hidden" asp-for="ReturnUrl" />
    <input type="hidden" asp-for="Input.NickName"/>
    <input type="hidden" asp-for="Input.FirstName"/>
    <input type="hidden" asp-for="Input.LastName"/>
    <input type="hidden" asp-for="Input.NewEmail"/>
    <input type="hidden" asp-for="Input.PhoneNumber"/>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" type="password"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Confirm</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
