@model BlogPost

@{
    ViewData["Title"] = "Edit post";
}

<h2>Edit post</h2>

<form asp-controller="Blog" asp-action="Edit" asp-route-id="@Model.Id" method="post">
    <input type="hidden" asp-for="Id"/>
    
    <div class="mb-3">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" class="form-control" id="Title"/>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Summary">Summary</label>
        <input asp-for="Summary" class="form-control" id="Summary"/>
        <span asp-validation-for="Summary" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Content">Content</label>
        <div class="mb-3">
            <textarea class="form-control" asp-for="Content" id="Content"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
    </div>
    
    <button type="submit" id="Submit" class="btn btn-success">Submit</button>
</form>

