@model IEnumerable<Booking>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Bookings</h2>

<ul class="list-unstyled">
    @foreach (var booking in Model)
    {
        <li class="mb-3">
            <p>@booking.Name</p>
            <p>@booking.Title</p>
            <p style="white-space: pre-line; word-break: break-word">@booking.Message</p>
            <hr />
        </li>
    }git pu
</ul>

<p><a asp-controller="Guestbook" asp-action="Add">Add new message</a></p>