#search-form {
    max-width: 500px;
    margin: 0 auto;
}

.search-input {
    border-radius: .5rem 0 0 .5rem;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .05);
}

#search-form .btn {
    border-radius: 0 .5rem .5rem 0;
}

.site-header, .site-footer {
    background: black;
    color: white;
}

.site-header a, .site-footer a {
    color: white;
    text-decoration: none;
}

.site-header a:hover, .site-footer a:hover {
    color: #565e64;
}

.site-header .navbar-brand, .site-footer .navbar-brand {
    color: #ddd;
}

.href-dark {
    color: #565e64;
}

.form-dark {
    background: black;
    color: white;
}

.button-dark {
    background: black;
    color: white;
}
